.App {
  text-align: center;
  background-color: #f1f1f1;

}



body {
  border: 1px black solid;
  max-width: 50%;
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.filmList {
  border-top: 1px #888585 dotted ;
  border-bottom: 1px #888585 dotted ;
  margin-bottom: 10px;
}

li, a {
  text-decoration: none;
  color: #126CB4;
}

li, a:hover {
  color: #A0C4E0;
}

ul {
  margin-left: 100px;

}

h2 {
  text-align: left;

}


button {
  color: #126CB4;
  background-color: #A0C4E0;
  border: black 1px solid;
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-radius: 3px;
}

button:hover{
  background-color: rgb(99, 140, 172);
}



.App-link {
  color: #61dafb;
}

